<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bytedance.speech.speechdemo">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="q">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VadActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/vad_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AsrActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/asr_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AfpActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AsrOfflineActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AuActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".BigAsrActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/bigasr_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CaptActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/capt_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".FulllinkActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/fulllink_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TtsNormalActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/tts_one_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TtsNovelActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/tts_multi_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".BiTtsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/bi_tts_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".UniTtsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/uni_tts_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".VoiceCloneActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/voiceclone_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".VoiceConvActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/voiceclone_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DialogActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/dialog_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DialogDelegateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/dialog_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".KwsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/kws_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.TestAsrOfflineRtfActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/asr_offline_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.TestAsrStressActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/test_asr_stress_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.TestAsrOfflineLastPacketCostActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/test_asr_offline_last_packet_cost_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.TestAfpActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>